*{
	margin:0px;
	padding:0px;
}
.header{
	background-color:#6CF;
	height:60px;
	width:100%;
}
.header_font{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	color:#C3F;
}
.float_body{
	
	min-width: 810px;
    max-width: 1335px;
    min-height: 500px;
}
.float_left{
	width: 80%;
    min-width: 600px;
    max-width: 1060px;
    min-height: 500px;
    float: left;
    background-color:#FCC;
    border-right: 1px #d41835;
}
.float_right{
	width: 20%;
    float: right;
    min-height: 500px;
    background-color:#F9F;
}
.footer{
	clear: both;
    height: 80px;
    background-color:#9F6;
}

.float_left img{
    width:200px;
    height:150px;
}